unidic = /usr/local/lib/mecab/dic/unidic
dict_index = /usr/local/libexec/mecab/mecab-dict-index
dviasm = /usr/local/texlive/2013/texmf-dist/scripts/dviasm/dviasm.py

basedir = .
libdir = lib
bindir = bin
tmpdir = /tmp

knownwords = known.txt,known-user.txt
rubyonly = rubyonly.txt,rubyonly-user.txt
fixparse = fixparse.txt
fixgloss = fixgloss.txt

jquery = http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js
jqueryui = http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js
jqueryui_css = http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/pepper-grinder/jquery-ui.min.css
