unidic = /usr/local/lib/mecab/dic/unidic
dict_index = /usr/local/libexec/mecab/mecab-dict-index
dviasm = /usr/local/texlive/2013/texmf-dist/scripts/dviasm/dviasm.py

basedir = .
libdir = lib
bindir = bin
tmpdir = /tmp

knownwords = known.txt,known-user.txt
rubyonly = rubyonly.txt,rubyonly-user.txt
fixparse = fixparse.txt
fixgloss = fixgloss.txt
